.worker-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.photo {
    margin-bottom: 10px;

}

.Name {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.position {
    font-size: 12px;
    margin: 0;
}

.photo img {
    min-width: 100%;
    min-height: 150px;
    object-fit: cover;
}
